.DS_Store
*.sw[po]
personal/*
bin/.local/bin/lsd
bin/.local/bin/webi
bin/.local/opt/lsd-v1.2.0/bin/lsd
bin/.local/share/
bin/.local/state/
bin/.local/bin/rfx
nvim/.config/github-copilot/
nvim/.config/gh/
nvim/.config/raycast/
nvim/.config/iterm/
nvim/.config/efm-langserver/
nvim/.config/karabiner/
nvim/.config/ghostty/
nvim/.config/configstore/

